@import './src/common/styles/mixin';

.container {
  margin-left: 500px;

  .img {
    margin-top: 500px;
    width: 300px;
    img {
      width: 250px;
      height: 250px;
      border-radius: 10px;
    }
  }
  .details {
    width: 300px;
    margin-left: 300px;
    bottom: 175px;
    position: relative;
    li {
      list-style-type: none;
    }
  }
  @media screen and (max-width: 1129px) {
    justify-content: center;
  }
}