@import './src/common/styles/mixin';

.main {
  @include container();
  margin-top: .5rem;
  padding-left: 10px;
  text-align: center;


  .links {
    @include flex(row, space-between, center, nowrap);
    margin: 0;
    padding: .5rem 1rem;

  }

  a {
    text-decoration: none;
    &:hover {
      background-color: #444;
    }
  }
}

