@import 'src/common/styles/mixin';
@import url(https://allfont.ru/allfont.css?fonts=star-jedi);

.mainBlock {
  @include flex(row, space-between, flex-start, nowrap);
  margin-top: 30px;

  .container {
    @include container();
    @include flex(row, flex-end, center, nowrap);

    a {
      @include flex(column, space-between, center, nowrap);
      text-decoration: none;
      font-family: 'Star Jedi', serif;
    }

    .link {
      width: 500px;
      img {
        display: flex;
        border-radius: 30px;
        width: 250px;
        height: 350px;
      }
    }
  }
}


